-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "products" (
    "id" VARCHAR(100) NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "slug" VARCHAR(255),
    "category" VARCHAR(50),
    "subcategory" VARCHAR(100),
    "price" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "originalPrice" DECIMAL(10,2),
    "discountPercentage" INTEGER DEFAULT 0,
    "description" TEXT,
    "shortDescription" TEXT,
    "material" TEXT,
    "color" TEXT,
    "stockStatus" VARCHAR(50),
    "stockQuantity" INTEGER DEFAULT 0,
    "isPreOrder" BOOLEAN NOT NULL DEFAULT false,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "isNewArrival" BOOLEAN NOT NULL DEFAULT false,
    "isOffer" BOOLEAN NOT NULL DEFAULT false,
    "isDancePerformance" BOOLEAN NOT NULL DEFAULT false,
    "images" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "settings" (
    "id" SERIAL NOT NULL,
    "brand_name" VARCHAR(255),
    "tagline" VARCHAR(255),
    "phone" VARCHAR(50),
    "formatted_phone" VARCHAR(50),
    "whatsapp_number" VARCHAR(50),
    "email" VARCHAR(255),
    "address" VARCHAR(255),
    "custom_logo_url" TEXT,
    "instagram_handle" VARCHAR(255),
    "instagram_url" VARCHAR(255),
    "tiktok_handle" VARCHAR(255),
    "tiktok_url" VARCHAR(255),
    "facebook_url" VARCHAR(255),
    "announcement_text" TEXT,
    "show_announcement" BOOLEAN NOT NULL DEFAULT true,
    "enable_rental_mode" BOOLEAN NOT NULL DEFAULT false,
    "currency_symbol" VARCHAR(10),
    "currency_code" VARCHAR(10),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enquiries" (
    "id" VARCHAR(100) NOT NULL,
    "order_number" VARCHAR(100) NOT NULL,
    "customer_name" VARCHAR(255),
    "customer_phone" VARCHAR(50),
    "customer_email" VARCHAR(255),
    "items" JSONB NOT NULL DEFAULT '[]',
    "subtotal" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "discount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "notes" TEXT,
    "status" VARCHAR(50) NOT NULL DEFAULT 'New',
    "total" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "source" VARCHAR(50) NOT NULL DEFAULT 'Web',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "enquiries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "selection_items" (
    "id" VARCHAR(100) NOT NULL,
    "session_id" VARCHAR(100) NOT NULL DEFAULT 'default',
    "product_id" VARCHAR(100) NOT NULL,
    "product" JSONB NOT NULL,
    "selected_size" VARCHAR(50),
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "unit_price" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "added_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "selection_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wishlist_items" (
    "id" VARCHAR(100) NOT NULL,
    "session_id" VARCHAR(100) NOT NULL DEFAULT 'default',
    "product_id" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "wishlist_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invoices" (
    "id" VARCHAR(100) NOT NULL,
    "invoice_number" VARCHAR(100) NOT NULL,
    "enquiry_id" VARCHAR(100),
    "customer_name" VARCHAR(255) NOT NULL,
    "customer_phone" VARCHAR(50) NOT NULL,
    "customer_email" VARCHAR(255) NOT NULL,
    "customer_address" TEXT,
    "items" JSONB NOT NULL,
    "subtotal" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "discount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "shipping" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "status" VARCHAR(50) NOT NULL DEFAULT 'Draft',
    "issue_date" TIMESTAMP(3) NOT NULL,
    "due_date" TIMESTAMP(3) NOT NULL,
    "payment_method" VARCHAR(100),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "invoices_pkey" PRIMARY KEY ("id")
);

